.login-card {
    border: 1px solid #3f3f3f;
    border-radius: 0.5rem;
    background-color: #1f1f1f;
    padding: 2rem 1.75rem;
}

:host ::ng-deep .p-floatlabel,
:host ::ng-deep .p-iconfield,
:host ::ng-deep .p-iconfield input,
:host ::ng-deep .p-button {
    width: 100%;
}
